body {
    font-family: Arial;
    margin: 20px;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

li{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}