body {
    font-family: Arial;
    margin: 20px;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

li{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#loading{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color:#2563eb;
    animation:pulsar 1s infinite;
}

@keyframes pulsar{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.4;
    }
}